/* ==========================================
   GLOBAL
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
     width:100%;

    overflow-x:hidden;
    overflow:hidden;
    background:#000;
}

#app{
    position:relative;
    width:100vw;
    height:100vh;
}

/* ==========================================
   PAGE ENGINE
========================================== */

.page{
    position:absolute;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    opacity:0;
    visibility:hidden;

    transition:
        opacity .8s ease,
        visibility .8s ease;
}

.page.active{
    opacity:1;
    visibility:visible;
}