#page12{


    background:linear-gradient(180deg,#ffd6ea,#fff5fb);

}

#loveContainer{

    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

}

#loveContainer h1{

    font-size:70px;
    margin-bottom:10px;

}

#loveContainer p{

    font-size:28px;

    margin-bottom:50px;

}

#loveButtons{

    position:relative;

    width:700px;
    height:300px;

}

#yesBtn,
#noBtn{

    position:absolute;

    width:220px;
    height:90px;

    font-size:32px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    transition:.25s;

}

#yesBtn{

    left:80px;
    top:100px;

    background:#ff4f8b;
    color:white;

}

#noBtn{

    right:80px;
    top:100px;

    background:#555;
    color:white;

}

#continuePage12{

    display:none;

}
.floatingHeart{

    position:absolute;

    font-size:40px;

    opacity:.18;

    animation:floatHeart 10s linear infinite;

    pointer-events:none;

}

.h1{left:8%;bottom:-60px;}
.h2{left:22%;bottom:-100px;animation-delay:2s;}
.h3{left:48%;bottom:-80px;animation-delay:4s;}
.h4{left:70%;bottom:-60px;animation-delay:1s;}
.h5{left:88%;bottom:-100px;animation-delay:5s;}
.h6{left:58%;bottom:-120px;animation-delay:7s;}

@keyframes floatHeart{

    from{

        transform:translateY(0) rotate(0deg);

    }

    to{

        transform:translateY(-120vh) rotate(25deg);

    }

}
.spark{

    position:absolute;

    width:7px;
    height:7px;

    background:white;

    border-radius:50%;

    box-shadow:0 0 15px white;

    animation:twinkle 2s infinite alternate;

}

.s1{left:12%;top:18%;}
.s2{left:83%;top:16%;}
.s3{left:22%;top:82%;}
.s4{left:76%;top:76%;}
.s5{left:50%;top:12%;}

@keyframes twinkle{

from{

opacity:.25;

transform:scale(.5);

}

to{

opacity:1;

transform:scale(1.6);

}

}